{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/graphql/(.*)$",
    "^@/hooks/(.*)$",
    "^@/libs/(.*)$",
    "^@/providers/(.*)$",
    "^@/schemas/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/utils/(.*)$",
    "^\\./(.*)$",
    "^\\../(.*)$",
    "\\.(scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}